@charset "utf-8";

/* 게시판 */
#container {
    width: 1200px;
    margin: 200px auto
}

#container .boardTitle {
    margin: 0 0 30px 0;
}

#container .boardTitle>h3 {
    font-size: 35px;
    height: 50px;
}

#container .boardList {
    text-align: center;
    padding: 0;
    margin: 0;
}

#container .boardList table {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

#container .boardList th {
    padding: 0 10px 15px;
    color: #333;
    border-bottom: 3px solid #0A69CC;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

#container .boardList td {
    padding: 10px;
    color: #333;
    border-bottom: 1px solid #e1e1e1;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}


/* 글쓰기 */

.bo_register {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.pg_regi {
    color: #333;
    background: #fff;
    border: 1px solid #e1e1e1;
    text-align: right;
}

.pg_regi{
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    vertical-align: bottom;
}

/* 페이징 */
.pg {
    font-size: 0;
    text-align: center;
    display: block;
    margin: 20px;
}


.pg_page,
.pg_current {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    vertical-align: bottom;
}

.pg a:focus,
.pg a:hover {}

.pg_page{
    color: #828282;
    background: #fff;
    border: 1px solid #e1e1e1;
}

.pg_start a,
.pg_end a{
    text-indent: -99999px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
}

.pg_start {
    margin-right: 0;
    background: url(../img/left.png) no-repeat center center #fff;
}

.pg_end {
    margin-left: 0;
    background: url(../img/right.png) no-repeat center center #fff;
}

.pg_current {
    color: #fff;
    background: #0A69CC;
    font-weight: 400;
}

.pg_current a{
	color: #fff;
}

/* 검색창 */
.bo_search {
    margin-top: 60px;
}

.bo_searchBox {
    width: 504px;
    margin: 0 auto;
}

.bo_searchBox:after {
    content: '';
    display: block;
    clear: both;
}

.bo_searchBox select {
    width: 115px;
    height: 40px;
    padding: 10px;
    color: #333;
    border: 1px solid #e1e1e1;
    background: url(/resources/img/bottom.png) no-repeat center right 10px #fff;
    font-size: 15px;
    line-height: 18px;
    display: block;
    float: left;
    appearance: none;
    -webkit-appearance: none;
}

.bo_searchBox input[type="text"] {
    width: 339px;
    height: 40px;
    padding: 10px 18px;
    color: #333;
    background: #fff;
    border: none;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    font-size: 15px;
    line-height: 18px;
    display: block;
    float: left;
}

.bo_searchBox button{
    width: 50px;
    height: 40px;
    border: 1px solid #e1e1e1;
    display: block;
    float: left;
    background: #fff;
}