@charset "utf-8";

/* 게시판 */
#wrapper {
    width: 900px;
    margin: 200px auto;
}

#wrapper .boardTitle {
    margin: 0 0 30px 0;
    border-bottom: 3px solid #0A69CC;
}

#wrapper .boardTitle>h3 {
    font-size: 35px;
    height: 50px;
    margin-bottom: 10px;
}

#wrapper .panel-body.modal {
	margin: 15px auto 0;
}

.cphoto {/* padding: 50px; *//* justify-content: center; */}

.uploadResult img {
	width: 100%
}

.form-group {
    font-size: 18px;
    font-weight: 400;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.form-group ul{
    width: 80%;
    margin: 0 auto;
}

.form-group ul li {
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.form-group ul li label {
    width: 150px;
    font-size: 16px;
    display: block;
}

.form-group .input_tx3{
    height: 300px;
}

.form-group .input_tx4{
    height: 150px;
}

.form-group .form-group2{
	display: flex;
}
.row {
    margin: 0 auto;
    font-size: 15px;
    width: 80%;
}

.row2 {
    /* display: flex; */
    /* float: left; */
    padding: 65px;
}


.form-button {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.panel-body.modal .chat .left.clearfix .header {border-top: 1px solid #ddd;}

.panel-body.modal .chat .left.clearfix .bt_mod,
.panel-body.modal .chat .left.clearfix .bt_del,
.panel-body.modal .chat .left.clearfix .testMod{
    font-size: 15px;
    background-color: #fff;
    border: 0;
    /* display: -webkit-inline-box; */
    float: right;
    margin: 3px;  
}

.panel-body.modal .chat .left.clearfix #inputdis {
	width: 100%;
}

.btn_reg{
    padding: 7px 15px;
    background: #0a69cc;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    display: block;
}

#wrapper .modal {
    width: 700px;
    margin: 10px auto;
    /* border-top: 1px solid #ccc; */
}

.modal .form-reply {
    /* width: 75%; */
    margin: 0 auto;
    border-top: 1px solid #ddd;
}

.form-reply label {
    font-size: 16px;
    display: block;
    text-align: left;
    margin: 10px;
}

.input[type="text"], input[type="date"]{

    padding: 5px 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.input_1 {
    /* width: 100%; */
    border-radius: 5px;
    display: block;
    float: left;
}


.form-control{
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

.form-button2 {
    /* width: 50%; */
    /* margin: 60px; */
    display: flex;
    justify-content: flex-end;
}
