@charset "utf-8";

#container {
    width: 1200px;
    margin: 200px auto;
    height: 1200px;
}

#container .boardTitle2 {
    margin: 0 0 30px 0;
}

#container .boardTitle2>h3 {
    font-size: 35px;
    height: 50px;
    border-bottom: 3px solid #0A69CC;
    padding: 0 0 60px 0px;
}

#container .dae {
	width: 960px;
    margin: 0 auto;
}

#container .daemoon {
  display: flex;
  justify-content: center;
}
#container .daemoon img {
  width: 80%;
}

.tit {
  width: 80%;
}

.tit_intro {
   display: block;
   position: relative;
   margin: 30px 0;
   padding: 0 10px 0 15px;
   font-size: 20px;
   font-weight: normal;
   color: #0A69CC;
   word-break: break-all;
   border-left: 5px solid #0A69CC;
   /* width: 50%; */
}

.tit_intro2 {
  display: block;
  position: relative;
  margin: 30px 0;
  padding: 0 10px 0 15px;
  font-size: 20px;
  font-weight: normal;
  color: #0A69CC;
  word-break: break-all;
}

.pp {
	text-align: right;
}
