@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


.pc{display: none;}

/* mobile */
/* header */
#header{    
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 999999;
}
.hd{
    width: 100%; padding: 15px;
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.hd:after{content: ""; clear: both; display: block;}
.hd a{
    display: block;
    float: left;
}
.hd a img{
    height: 40px; margin-right: 5px;
    float: left;
    display: block;
}
.hd a h1{
    font-size: 18px;
    line-height: 20px;
    float: left;
}
.hd a h1 span{
    font-size: 16px;
    font-weight: 400;
}
/* nav btn */
.hd button{
    width: 30px; height: 30px; margin-top: 5px;
    background: none;
    border: none;
    float: right;
    position: relative;
}
.hd button span{
    width: 100%; height: 4px;
    border-radius: 5px;
    background: #333;
    display: block;
    transition: .2s;
}
.hd button span:nth-of-type(1){
    position: absolute;
    top: 4px;
}
.hd button span:nth-of-type(2){
    margin: 0 auto;
}
.hd button span:nth-of-type(3){
    position: absolute;
    top: 22px;
}
/* button on */
.hd button.on span:nth-of-type(1){
    top: 14px;
    transform: rotate(45deg);
}
.hd button.on span:nth-of-type(2){
    width: 0;
}
.hd button.on span:nth-of-type(3){
    top: 14px;
    transform: rotate(-45deg);
}

/* nav */
.navBox{
    width: 100%; height: 100vh; padding: 72px 0 0;
    background: url(../img/bg.jpg) no-repeat center 100%;
    position: absolute;
    top: 0;
    display: none;
}
.navBox > ul{
    padding: 20px; 
    position: relative;
    top: 20px;
}
.navBox > ul > li::after{content: ''; display: block; clear: both;}
.navBox .main_nav{
    width: 50%; margin: 20px 0;
    float: left;
}
.navBox .main_nav a{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
}
.navBox .main_nav span{
    width: 0%; height: 3px; margin-top: 3px;
    background: #fff;
    display: block;
    transition: .2s;
}
.navBox .main_nav a:hover span, .navBox .main_nav a:focus span{
    width: 100%;
}
.navBox .sub_nav{
    width: 50%; height: 100%;
    border-left: 2px solid #fff;
    float: left;
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    display: none;
}
.navBox .sub_nav li{
    padding: 10px 20px;
}
.navBox .sub_nav li a{
    color: #fff;
    font-size: 18px;
}

.login_bar{
    width: 100%; padding: 20px;
    border-top: 1px solid #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.login_bar .login_btn{
    padding: 5px 20px;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    border: 1px solid #fff;
    display: inline-block;
}

/* container */
#container{
    min-height: 80vh; margin-top: 72px;
}

/* footer */
footer{
    background: #ebebeb;
}
#footer{
    padding: 20px;
}
#footer img{
    height: 40px; margin-bottom: 20px;
    display: block;
}
#footer p{
    font-size: 12px;
}
#footer small{
    margin-top: 10px;
    font-size: 12px;
    display: block;
}



/* 768px */
@media screen and (min-width:768px){

    .mobile{display: none;}
    .pc{display: block;}
    
    .hd_nav{
        background: #fff;
        border-bottom: 1px solid #dbdbdb;
        display: block;
    }
    .hd_nav ul{
        padding: 10px;
        width: 100%; max-width: 1200px; margin: 0 auto;
        display: flex;
        justify-content: flex-end;
    }
    .hd_nav li{
        padding: 0 10px;
    }
    .hd_nav li a, .hd_nav li p, .hd_nav li button{
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        display: block;
    }
    .hd_nav li button{
    	background: none;
    	border: none;
    	color: #333;
    }

    /* nav */
    .navBox{
        max-width: 1200px; height: auto; padding: 0; margin: 0 auto;
        background: #fff;
        display: block;
        position: static;
    }
    .navBox > ul{
        padding: 0;
        position: static;
        top: 0;
        display: flex;
        justify-content: center;
    }
    .navBox > ul > li{
        width: 19%; height: 80px;
        text-align: center;
        position: relative;
    }
    .navBox > ul > li.li_hd{
        width: 180px;
        background: #fff;
    }
    .navBox > ul > li.li_hd .li_hd_h1{
        width: 100%; height: 80px; padding-top: 10px;
        border: 1px solid transparent;
        border-top: none;
        border-color: transparent #dbdbdb transparent;
        font-size: 21px;
        line-height: 21px;
        font-weight: 700;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    .navBox > ul > li.li_hd .li_hd_h1 span{
        font-weight: 400;
        font-size: 18px;
    }
    .navBox > ul > li.li_hd .li_hd_h1::after{
        content: "";
        width: 124px; height: 124px;
        background: #fff;
        border: 1px solid transparent;
        border-color: transparent #dbdbdb #dbdbdb transparent;
        border-radius: 50px 0 0 0;
        position: absolute;
        bottom: -65px;
        left: 26px;
        display: block;
        transform: rotate(45deg);
        z-index: -1;
    }
    .navBox > ul > li.li_hd .li_hd_img{
        width: 66px;
        position: absolute;
        left: 57px;
        bottom: -60px;
        z-index: 999999;
    }
    .navBox > ul > li.li_hd .li_hd_img img{
        width: 100%;
    }
    .navBox .main_nav{
        width: 100%; margin: 0;
        line-height: 80px;
        float: none;
    }
    .navBox .main_nav a{
        color: #333;
        font-size: 18px;
        line-height: 18px;
        transition: .5s;
    }
    .navBox .main_nav span{
        margin: 5px auto 0;
        background: #0A69CC;
    }
    .navBox > ul > li:hover .main_nav a{
        color: #0A69CC;
    }
    .navBox > ul > li:hover .main_nav span{
        width: 100%;
    }
    .navBox .main_nav a:focus span{
        width: 0px;
    }
    .navBox .sub_nav{
        width: 100%; height: 0; padding: 0;
        border: 1px solid #dbdbdb;
        border-top: 0;
        background: #fff;
        display: block;
        top: 80px;
        left: 0;
        transition: .5s;
        overflow: hidden;
    }
    .navBox > ul > li:hover .sub_nav{
        height: auto; padding: 10px 0 0;
    }
    .navBox .sub_nav li{
        padding: 0;
    }
    .navBox .sub_nav li a{
        padding: 10px;
        color: #333;
        font-size: 16px;
        display: block;
    }
    .navBox .sub_nav li a:hover{
        background: #eee;
    }
    #header .nav_bg{
        width: 100%;
        height: 10px;
        background: #dbdbdb;
        display: block;
    }

    /* container */
    #container{
        margin-top: 125px;
    }

    /* footer */
    #footer{
        max-width: 1200px; padding: 50px; margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

}


/* 1200px */
@media screen and (min-width:1200px){
    
}