@charset "utf-8";

.root_daum_roughmap.root_daum_roughmap_landing {
	margin: 0 auto;
}

#container {
    height: 900px;
}

#container {
    width: 1200px;
    margin: 200px auto;
}
#container .boardTitle2 {
    margin: 0 0 30px 0;
}

#container .boardTitle2>h3 {
    font-size: 35px;
    height: 50px;
    border-bottom: 3px solid #0A69CC;
    padding: 0 0 60px 0px;
}




#container .swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-container .swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-container.gallery-top {
  height: 80%;
  width: 100%;
}

.swiper-container.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiper-container.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.swiper-container.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}