@charset "utf-8";

#container{
    margin-top: 0;
}

/* popup */
#popup{
    width: 100%; height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#popup .popup_bg{
    width: 100%; height: 100%;
    background: rgba(50, 50, 50, .5);
    opacity: 0;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popup .popup_box{
    width: 300px; padding: 30px;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
}
#popup .popup_box p{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
#popup .popup_box button{
    padding: 7px 20px; margin: 30px auto 0;
    background: #0A69CC;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    display: block;
}
#popup.on .popup_bg{
    opacity: 1;
}

.memberBox{
    height: 100vh; padding: 20px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBox{
    background: #fff;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    box-shadow: 5px 5px 10px rgba(50, 50, 50, .2);
    overflow: hidden;
}

/* login */
.login_contents{
    width: 80%;
}
.login_contents .lb_left{
    height: 200px;
    background: url(../img/login_bg.jpg) no-repeat center;
    background-size: cover;
    border-bottom: 1px solid #dbdbdb;
}
.login_contents .lb_left p{
    padding: 20px;
    text-align: center;
    color: #fff;
}

.login_contents .lb_right {
    padding: 30px;
}
.login_contents .lb_title{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.login_contents .lb_title h2{
    margin-right: 50px;
    color: #0A69CC; 
    font-size: 28px;
}
.login_contents .lb_title .lb_home{
    width: 120px;
    display: block;
}
.login_contents .lb_title .lb_home img{
    width: 100%;
    display: block;
}
.login_contents .lb_con{
    width: 250px;
    margin: 0 auto;
}
.login_contents .lb_con .radioBox input[type="radio"] + label{
    width: 50%; margin-bottom: 20px;
}
.login_contents .lb_con input[type="text"], .login_contents .lb_con input[type="password"]{
    width: 100%; padding: 7px 15px; margin-bottom: 20px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #0A69CC;;
    font-size: 16px;
    display: block;
}

.login_contents .lb_con input[type="submit"]{
    width: 150px; padding: 10px; margin: 30px auto 0;
    background: #fff;
    border: 2px solid #0a69cc;
    border-radius: 100px;
    color: #0a69cc;
    font-size: 18px;
    font-weight: 700;
    display: block;
    transition: .2s;
}
.login_contents .lb_con input[type="submit"]:hover{
    background: #0a69cc;
    color: #fff;
}
.login_contents .lb_bottom p{
    margin-top: 60px;
    text-align: center;
    font-size: 14px;
    color: #888;
}
.login_contents .lb_bottom a{
    margin-left: 10px;
    color: #0a69cc;
    font-size: 14px;
    font-weight: 500;
}

/* join */
.join_contents{
    width: 80%; padding: 30px;
}
.join_contents .join_title{
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.join_contents .join_con{
    padding: 50px 20px;
    border-top: 2px solid #dbdbdb;
    border-bottom: 2px solid #dbdbdb;
}
.join_contents .join_con h2{
    font-size: 18px;
    font-weight: 500;
}
.join_contents .join_con .radioBox{
    width: 100%; margin-bottom: 20px;
}
.join_contents .join_con .radioBox input[type="radio"] + label{
    width: 50%; margin-bottom: 20px;
}
.join_contents .join_con .plus_box input[type="text"]{
    margin-bottom: 15px;
}
.join_contents .join_con button{
    width: 100%; padding: 10px 20px;
    background: #0a69cc;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    display: block;
}
.join_contents .join_con button span{
    line-height: 18px;
    font-size: 18px;
    vertical-align: bottom;
}
/* join2 */
.memberBox.signup2{
    height: auto; padding: 30px 20px;
}
.join_contents2{
    width: 95%;
}
.join_contents2 .join_con{
    padding: 30px 0;
}
.join_contents2 .join_form{
    margin-bottom: 50px;
}
.join_contents2 .join_form h3{
    margin-bottom: 20px; padding: 10px;
    background: #eee;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}
.join_contents2 .join_form ul{
    padding: 0 20px;
}
.join_contents2 .join_form li{
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.join_contents2 .join_form li label{
    width: 130px;
    font-size: 16px;
    display: block;
}
.join_contents2 .join_form li label + input{
    width: 430px;
}
.join_contents2 .join_form li.li_id input{
    width: 300px;
}
.join_contents2 .join_form li.li_id button{
    width: 120px; padding: 9px 20px; margin-left: 10px;
}
.join_contents2 .join_form li.logBox{
    margin-bottom: 0;
}
.join_contents2 .join_form li.logBox .b_box{
    display: block;
    width: 130px;
}
.join_contents2 .join_form li.logBox span:last-child.on{
    width: 430px; margin-bottom: 10px;
    color: rgb(219, 67, 67);
    display: block;
}
.join_contents2 input[readonly]{
    width: auto; padding-left: 5px;
    border: none;
    color: #333;
    font-size: 16px;
}
.join_contents2 input[name="cunicode"]{
    width: 200px;
}
.join_contents2 .join_info{
    margin-top: 25px;
    font-size: 14px;
    color: #525252;
}
.join_contents2 .join_btn{
    margin: 70px 0 30px;
    display: flex;
    justify-content: center;
}
.join_contents2 .join_btn > *{
    margin: 0 5px;
}
/* join3 */
.signup3 .join_img{
    width: 100%; margin: 0 auto 30px;
}
.signup3 .join_img img{
    width: 100%; 
}
.signup3 .join_img p{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.signup3 .join3_btnBox{
    display: flex;
    justify-content: center;
}



/* 768px */
@media screen and (min-width:768px){


    /* login */
    .login_contents{
        max-width: 800px;
        display: flex;
    }
    .login_contents > div{
        width: 50%;
    }
    .login_contents .lb_left{
        height: auto;
        border-bottom: 0;
        border-right: 1px solid #eee;
    }
    .login_contents .lb_right{
        padding: 50px 30px;
    }
    .login_contents .lb_title{
        margin-bottom: 80px;
    }


    /* join */
    .join_contents{
        max-width: 800px; padding: 50px 30px;
    }
    .join_contents .join_con{
        padding: 70px;
    }
    .join_contents .join_con .radioBox, .join_contents .join_con .parents_box{
        max-width: 300px; margin: 0 auto;
    }
    .join_contents .join_con button{
        padding: 15px 20px;
    }


}