<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ChildBoardMapper">

	<select id="getList" resultType="org.zerock.domain.ChildBoardVO">
	
			select a.cunicode
					,a.cgender
					,a.cname
					,a.cbirth
					,a.enter
					,a.graduation
					,b.classname
                    ,c.username
					
			from tb_child a, tb_class b, tb_parents c
			where a.classname = b.classname and a.cunicode = c.cunicode
	
	</select>

 	<insert id="insert">
		insert into tb_child (cunicode, classname, cgender, cname, cbirth, enter, graduation)
		values (#{cunicode}, #{classname}, #{cgender}, #{cname}, #{cbirth}, #{enter}, #{graduation})
	</insert>

 	<select id="read" resultType="org.zerock.domain.ChildBoardVO">
		select * from tb_child where cunicode = #{cunicode}
	</select>

	<delete id="delete">
		delete from tb_child
		where cunicode = #{cunicode}
	</delete>
	
	<update id="update">
	    update tb_child
	    set 	classname = #{classname}
	    		,cgender = #{cgender}
				,cname = #{cname}
				,cbirth = #{cbirth}
				,enter = #{enter}
				,graduation = #{graduation}
		where cunicode = #{cunicode}
	 </update>
	 

</mapper>