<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ClassNoteMapper">

<select id="getList" resultType="org.zerock.domain.ClassNoteVO">

	SELECT A.bno
          ,A.cUnicode
          ,A.className
      	  ,A.regdate
      	  ,A.content
      	  ,A.writer
      	  ,A.title
      	  ,B.cName             
	FROM tb_note A,tb_child B
	WHERE A.cUnicode=B.cUnicode

</select>

 	<insert id="insert">
		insert into tb_note (bno, className, cUnicode, title, content, writer)
		values (seq_tb_note.nextval, #{className}, #{cUnicode}, #{title}, #{content}, #{writer})
	</insert>
	
	<insert id="insertSelectKey">

		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			select seq_tb_note.nextval from dual
		</selectKey>

		insert into tb_note (bno, className, cUnicode, title, content, writer)
		values (#{bno}, #{className}, #{cUnicode}, #{title}, #{content}, #{writer})
	</insert>


 	<select id="read" resultType="org.zerock.domain.ClassNoteVO">
			SELECT A.bno
          ,A.cUnicode
          ,A.className
      	  ,A.regdate
      	  ,A.content
      	  ,A.writer
      	  ,A.title
      	  ,B.cName             
	FROM tb_note A,tb_child B
	WHERE A.cUnicode=B.cUnicode and bno = #{bno}
	</select>
	

	<delete id="delete">
		delete from tb_note where bno = #{bno}
	</delete>
	
	
	<update id="update">
	    update tb_note
	    set title= #{title},
	    className=#{className},
	    cUnicode=#{cUnicode},
	    content = #{content},
	    writer=#{writer},
	    regdate=sysdate
	    where bno = #{bno}
	 </update>


</mapper>