<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ClassMngMapper">

<select id="getList" resultType="org.zerock.domain.ClassMngVO">
	<![CDATA[
		select * from tb_class where bno > 0
	]]>
</select>

 	<insert id="insert">
		insert into tb_class (bno, className, classAge, classTotal)
		values (seq_tb_class.nextval, #{className}, #{classAge}, #{classTotal})
	</insert>
	
	<insert id="insertSelectKey">

		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			select seq_tb_class.nextval from dual
		</selectKey>

		insert into tb_class (bno, className, classAge, classTotal)
		values (#{bno}, #{className}, #{classAge}, #{classTotal})
	</insert>


 	<select id="read" resultType="org.zerock.domain.ClassMngVO">
		select * from tb_class where bno = #{bno}
	</select>

	<!-- 원아 조회 -->
	<select id="getChildList" resultType="org.zerock.domain.ChildBoardVO">
		select cunicode, cname, classname from tb_child
	</select>	

	<delete id="delete">
		delete from tb_class where bno = #{bno}
	</delete>
	
	
	<update id="update">
	    update tb_class
	    set className= #{className},
	    classAge=#{classAge},
	    classTotal = #{classTotal}
	    where bno = #{bno}
	 </update>


</mapper>