<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.NoteReplyMapper">

<select id="getList" resultType="org.zerock.domain.NoteReplyVO">
	<![CDATA[
		select * from tb_note_reply where bno > 0
	]]>
</select>

 	<insert id="insert">
		insert into tb_note_reply (rno, bno, content, writer, regdate, updatedate)
		values (seq_tb_note_reply.nextval, #{bno}, #{content}, #{writer}, sysdate, sysdate)

	</insert>

 	<select id="read" resultType="org.zerock.domain.NoteReplyVO">
		select * from tb_note_reply where rno = #{rno}
	</select>
	
	<delete id="delete">
		delete from tb_note_reply
		where rno = #{rno}
	</delete>
	
	<update id="update">
	    update tb_note_reply
	    set 	content = #{content}
	    		,updatedate = sysdate
		where rno = #{rno}
		<!-- and pw = #{pw} -->
	 </update>
	 
<!-- 	 <select id="getListWithPaging" resultType="org.zerock.domain.noteReplyVO">
	 
	 	select rno, bno, content, writer, regdate, updatedate
	 	from tb_note_reply
	 	where bno = #{bno}
	 	order by rno asc
	 
	 </select> -->
	 
	<select id="getListWithPaging"
		resultType="org.zerock.domain.NoteReplyVO">
	
	 <![CDATA[
	 select  rno, bno, content, writer, regdate, updatedate
	 from 
	   (
	    select /*+INDEX(tb_reply idx_reply) */ 
	      rownum rn, rno, bno, content, writer, regdate, updatedate
	    from tb_note_reply
	    where bno =  #{bno}
	    and rno > 0
	    and rownum <= #{cri.pageNum} * #{cri.amount}
	   ) where rn > (#{cri.pageNum} -1) * #{cri.amount}
	]]>
	</select>
	
	<select id="getCountByBno" resultType="int">
	<![CDATA[
		select count(rno) from tb_note_reply where bno = #{bno}
	]]>
	</select>
	 
	 
	 
	 
	 
</mapper>